USE [HtmlSelect]
GO
/****** 对象:  Table [dbo].[temp_group]    脚本日期: 06/20/2014 13:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_group](
	[type] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[no] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[remark] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL
) ON [PRIMARY]
